.banner1{width: 100%;min-width: 1200px;padding: 117px 0;position: relative;overflow: hidden;}
.banner-bg{position: absolute;top: 0;left: 50%;margin-left: -960px;z-index: -1;height: 440px;}
.banner1 h1{height: 58px;font-size: 62px;color: #fff;font-weight: 500;}
.banner1 p{width: 572px; color: #fff;margin-top: 38px;margin-bottom: 27px;font-size: 24px;}
.banner1 .container{position: relative;height: 206px;}
.banner-txt{position: absolute;top: 50px;right: 129px;}

.example{width: 100%;min-width: 1200px;padding: 130px 0;}
.example-box{width: 100%;height: 272px;margin-bottom: 65px;position: relative;}
.example-box:last-child{margin-bottom: 0;}
.float-left{left: 0;}
.float-right{right: 0;}
.example-img{width: 575px;height: 272px;text-align: center;position: absolute;top: 0;overflow: hidden;}
.example-img span{display: inline-block;width: 575px;height: 272px;line-height: 272px;font-size: 32px;font-weight: 500;color: #fff;}
.example-img img{position: absolute;top: 0;left: 0;z-index: -1;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;}
.example-des{width: 510px;font-size:16px;font-weight:400;line-height:30px;color:rgba(68,68,68,1);position: absolute;top: 50%;text-align: justify;-ms-transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
.example-img:hover img{-ms-transform: scale(1.2);-webkit-transform: scale(1.2);-moz-transform: scale(1.2);-o-transform: scale(1.2);transform: scale(1.2);}